<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/styles/home.css">

</head>
<body1>
    {%for i in keys %}
        <ul>{{session['cartNames'][i]}}: {{session['cart'][i]}}
        </ul>
    {%endfor%}
    <br>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <class=flashes>
                    {% for category, message in messages %}
                        <class="{{ category }}">{{ message }}
                    {% endfor %}
              
            {% endif %}
        {% endwith %}
        <br>

    <a href="/checkout">Checkout?</a><br>
    <a href="/All">Keep shopping? Change quantities?</a><br>

</body1>
</html>