<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static\styles\oopsproducts.css">

</head>
<body>
    <a href="/All">Want to purchase?</a><br>
    <img src="static\images\chocolateshake.jpg" width="20%">
    <img src="static\images\vanillashake.jpg" width="20%">
    <img src="static\images\strawberryshake.jpg" width="20%">
    <img src="static\images\marshmallowshake.jpg" width="20%">

</body>
</html>